<div class="payment-container">
       <h3 style="color: #a2d2ff;">Choose Your Payment Type</h3><br>
            <div class="text-primary">
               <button class="btn" type="button" (click)="navigateToPayment()">Bank</button>
               <button class="btn" type="button" (click)="navigateToPayment()">Telebirr</button>
               <button class="btn" type="button" (click)="navigateToPayment()">Chapa</button>
               <button class="btn" type="button" (click)="navigateToPayment()">Cards</button>
            </div>
</div>
