<div class="image-container">
    <div class="main-content">

        <div class="image-content" style=" width: 550px;height: 450px;">
            <img [src]="images[currentImageIndex]" alt="Property Image">
        </div>
      </div> 
  </div>
  <!-- <div class="controls">
    <button mat-raised-button (mousedown)="onDrag()">Drag</button>&nbsp;
    <button mat-raised-button (click)="startImageSlider()">Start Slider</button>&nbsp;
    <button mat-raised-button (click)="stopImageSlider()">Stop Slider</button>
  </div> -->