<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      All Messages
    </div>
    <div class="card-body">
      <p-table #dt1 [value]="messages" responsiveLayout="scroll" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[5,10,15,20,50]" styleClass="p-datatable-gridlines" [paginator]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [globalFilterFields]="['firstname', 'lastname', 'email', 'phone', 'message']"
      >

        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton class="p-button p-button-info p-button-outlined" (click)="clear(dt1)">
              <i class="pi pi-filter-slash"></i>&nbsp; Clear
            </button>
            <span class="p-input-icon-left ml-auto">
              <input pInputText type="text" (input)="filterText($event)" placeholder="Search keyword" #search class="p-inputtext p-inputtext-sm"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="firstname">First-Name
              <p-sortIcon field="firstname"></p-sortIcon>
            </th>
            <th pSortableColumn="lastname">Last-Name
              <p-sortIcon field="lastname"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email
                <p-sortIcon field="email"></p-sortIcon>
              </th>
              <th pSortableColumn="phone">Phone
                <p-sortIcon field="phone"></p-sortIcon>
              </th>
              <th pSortableColumn="message">Messages
                <p-sortIcon field="message"></p-sortIcon>
              </th>
            <th>
              Actions
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-message>
          <tr>
            <td>{{message.firstname}}</td>
            <td>{{message.lastname}}</td>
            <td>{{message.email}}</td>
            <td>{{message.phone}}</td>
            <td>{{message.message}}</td>
            <td>
              <div class="d-flex justify-content-start align-items-center">
                <span class="text-danger cursor-pointer d-inline-block" (click)="removeMessage(message.id)"><i class="pi pi-trash"></i> Delete</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>
<p-toast position="bottom-center"></p-toast>
