 <!-- Testimonial Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Clients</h1>
            <p>We serve well organized homes, anyone who wants rent and buy his home this our site Teleport-Home is the right place. please check our service well.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>We serve well organized homes, anyone who wants rent and buy his home this our site Teleport-Home is the right place. please check our service well.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="assets/hanna.jpg" style="width: 100px; height: 100px;">
                        <div class="ps-3">
                            <h2 class="fw-bold mb-1">Hanna Abeje</h2>
                            <h3>Manager, Business Development</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>We serve well organized homes, anyone who wants rent and buy his home this our site Teleport-Home is the right place. please check our service well.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="assets/nardos.jpg" style="width: 100px; height: 100px;">
                        <div class="ps-3">
                            <h2 class="fw-bold mb-1">Nardos Tilahun</h2>
                            <h3>Manager, Business Development</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>We serve well organized homes, anyone who wants rent and buy his home this our site Teleport-Home is the right place. please check our service well.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="assets/bek.jpg" style="width: 100px; height: 100px;">
                        <div class="ps-3">
                            <h2 class="fw-bold mb-1">Bereket Man</h2>
                            <h3>Web developer</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->